nav.navbar {
    background: linear-gradient(90deg, #004e92, #000428);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  }
  
  .navbar-brand {
    font-size: 24px;
  }
  
  .nav-link {
    font-size: 18px;
    font-weight: bold;
  }
  
  .nav-link:hover {
    color: #0084f0 !important; 
  }
  
  button {
    font-weight: bold;
  }
  
  button.btn-primary {
    color: #ffffff; 
  }
  
  button.btn-outline-light {
    border: 2px solid #ffffff;
  }
  
  img.rounded-circle {
    border: 2px solid #fff;
  }
  
  .user-tooltip {
    background-color: #ffffff;
    color: #333333;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    width: 200px;
    padding: 10px;
    z-index: 1000;
    margin-top: -4px;
  }
  
  .user-tooltip h6 {
    font-size: 16px;
    margin: 0;
  }
  
  .user-tooltip p {
    font-size: 14px;
    margin: 5px 0 10px;
  }
  
  .user-tooltip button {
    font-size: 14px;
  }

  .btn-danger {
    margin-top: 3px;
    size: 3px;
  }
  