NODE_ENV=production
PORT=3000
CLIENT_URLS=https://event-life.netlify.app

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=eventlife

POSTGRES_URL=
PGHOST=
PGPORT=
PGUSER=
PGPASSWORD=
PGDATABASE=

MP_ACCESS_TOKEN=
MP_NOTIFICATION_URL=

JWT_SECRET=changeme
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=

