NODE_ENV=production
PORT=3000
CLIENT_URLS=https://event-life.netlify.app

POSTGRES_URL=
PGHOST=
PGPORT=
PGUSER=
PGPASSWORD=
PGDATABASE=

MP_ACCESS_TOKEN=
MP_NOTIFICATION_URL=

JWT_SECRET=changeme
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=

