<main>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg border-bottom position-absolute top-0 w-100" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">EventLife</a>
    </div>
  </nav>

  <div class="d-flex justify-content-center align-items-center vh-100 bg-light custom-mobile">
    <div class="row w-100 justify-content-center">
      <div class="col-md-6 col-lg-8">

        <form [formGroup]="formRegistro" class="p-4 rounded shadow bg-white custom-mobile-1">
          <h3 class="mb-4 text-center text-primary">Regístrate en Eventlife</h3>

          <!-- Agrupación en dos columnas -->


          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="firstname" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="firstname" formControlName="firstname" required
                  [ngClass]="{'is-invalid': formRegistro.get('firstname')?.invalid && formRegistro.get('firstname')?.touched}">
                <div class="invalid-feedback"
                  *ngIf="formRegistro.get('firstname')?.invalid && formRegistro.get('firstname')?.touched">
                  El nombre es requerido.
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="lastname" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="lastname" formControlName="lastname" required
                  [ngClass]="{'is-invalid': formRegistro.get('lastname')?.invalid && formRegistro.get('lastname')?.touched}">
                <div class="invalid-feedback"
                  *ngIf="formRegistro.get('lastname')?.invalid && formRegistro.get('lastname')?.touched">
                  El apellido es requerido.
                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-6">

              <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp"
                  required
                  [ngClass]="{'is-invalid': formRegistro.get('email')?.invalid && formRegistro.get('email')?.touched}">
                <div id="emailHelp" class="form-text">Nunca compartas tus datos con nadie.</div>
                <div class="invalid-feedback"
                  *ngIf="formRegistro.get('email')?.invalid && formRegistro.get('email')?.touched">
                  Por favor, ingresa un correo electrónico válido.
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="phone" class="form-label">Teléfono</label>
                <input (input)="formatPhoneNumber($event)" type="text" class="form-control" id="phone"
                  formControlName="phone" required
                  [ngClass]="{'is-invalid': formRegistro.get('phone')?.invalid && formRegistro.get('phone')?.touched}"
                  mask="+0 (000) 000-0000" />
                <div class="invalid-feedback"
                  *ngIf="formRegistro.get('phone')?.invalid && formRegistro.get('phone')?.touched">
                  Por favor, ingresa un número de teléfono válido.
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="location" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="location" formControlName="location" required
                  [ngClass]="{'is-invalid': formRegistro.get('location')?.invalid && formRegistro.get('location')?.touched}">
                <div class="invalid-feedback"
                  *ngIf="formRegistro.get('location')?.invalid && formRegistro.get('location')?.touched">
                  La dirección es requerida.
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="birth" class="form-label">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="birth" formControlName="birth" required
                  [ngClass]="{'is-invalid': formRegistro.get('birth')?.invalid && formRegistro.get('birth')?.touched}">
                <div class="invalid-feedback"
                  *ngIf="formRegistro.get('birth')?.invalid && formRegistro.get('birth')?.touched">
                  La fecha de nacimiento es requerida.
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" formControlName="password" required
                  [ngClass]="{'is-invalid': formRegistro.get('password')?.invalid && formRegistro.get('password')?.touched}">
                <div class="invalid-feedback"
                  *ngIf="formRegistro.get('password')?.invalid && formRegistro.get('password')?.touched">
                  La contraseña es requerida.
                </div>
              </div>
            </div>
          </div>

          <div class="d-grid">
            <button type="button" class="btn btn-primary" (click)="registrarse()"
              [disabled]="formRegistro.invalid">Registrarse</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</main>