<main>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg border-bottom position-absolute top-0 w-100" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">EventLife</a>
    </div>
  </nav>


  <div class="d-flex justify-content-center align-items-center vh-100  custom-mobile">
    <div class="row border shadow-lg w-75 rounded overflow-hidden custom-mobile-1">

      <div class="col-md-6 d-flex align-items-center justify-content-center left bg-light p-5">

        <form [formGroup]="formLogin" class="w-100">
          <h3 class="mb-4 text-primary">Bienvenido a EventLife</h3>

          <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email"
              required [ngClass]="{'is-invalid': formLogin.get('email')?.invalid && formLogin.get('email')?.touched}">
            <div id="emailHelp" class="form-text">No compartas tus datos con nadie.</div>
            <div class="invalid-feedback" *ngIf="formLogin.get('email')?.invalid && formLogin.get('email')?.touched">
              Por favor, ingresa un correo electrónico válido.
            </div>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" formControlName="password" required
              [ngClass]="{'is-invalid': formLogin.get('password')?.invalid && formLogin.get('password')?.touched}">
            <div class="invalid-feedback"
              *ngIf="formLogin.get('password')?.invalid && formLogin.get('password')?.touched">
              Por favor, ingresa una contraseña válida.
            </div>
          </div>

          <button type="button" class="btn btn-primary w-100 mt-3" (click)="iniciarSesion()"
            [disabled]="formLogin.invalid">Entrar</button>
        </form>

      </div>


      <div class="col-md-6 bg-primary text-white text-center d-flex flex-column justify-content-center right p-5">
        <h4 class="mb-3">¿Aún no tienes una cuenta?</h4>
        <p class="lead fw-light">¡Regístrate hoy y comienza a disfrutar de todos los beneficios que ofrecemos!</p>
        <a href="register" class="btn btn-outline-light btn-lg mt-3">Registrarse</a>
      </div>

    </div>
  </div>
</main>