<main>
  <app-header></app-header>

  <div class="d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="row w-100 justify-content-center">
      <div class="col-md-6 col-lg-8">

        <form [formGroup]="formEditarPerfil" class="p-4 rounded shadow bg-white">
          <h3 class="mb-4 text-center text-primary">Editar Perfil</h3>

          <!-- Agrupación en dos columnas -->
          <div class="row">

            <div class="col-md-6">
              <div class="mb-3">
                <label for="email" class="form-label">Imagen de Perfil</label>
                <input type="text" class="form-control" formControlName="imgPerfil" aria-describedby="emailHelp">
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="firstname" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="firstname" formControlName="firstname">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="lastname" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="lastname" formControlName="lastname">
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="phone" class="form-label">Teléfono</label>
                <input type="number" class="form-control" id="phone" formControlName="phone">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="location" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="location" formControlName="location">
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="birth" class="form-label">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="birth" formControlName="birth">
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-md-end gap-4">
            <button type="button" class="btn btn-primary" (click)="actualizarPerfil()" style="width: 150px;">Actualizar
              Perfil</button>
            <a type="button" class="btn btn-danger" href="/profile">Cancelar</a>
          </div>

        </form>




      </div>
    </div>
  </div>

</main>