<div class="d-flex flex-column justify-content-center align-items-center h-100 text-center p-4" style="background-color: #e3f2fd;">

  <!-- Título -->
  <h2 class="font-weight-bold mb-3 text-primary">Compra Entradas</h2>

  <!-- Descripción -->
  <p class="text-muted mb-4">
    Encuentra y compra entradas para los mejores eventos en tu área. Desde conciertos hasta fiestas, tenemos todo cubierto.
  </p>

  <!-- Botón -->
  <a class="btn btn-primary btn-lg"  href="events">
    <i class="bi bi-ticket-fill me-2"></i> Explorar Eventos
  </a>

</div>
