<section class="py-5" style="background-color: #f8f9fa;">
  <div class="container">

    <h2 class="display-4 font-weight-bold text-center mb-5 text-primary">Eventos Populares</h2> 

    <!-- Carrusel -->
    <div id="carouselExampleAutoplaying" class="carousel slide position-relative" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let eventGroup of eventGroups; let first = first" [class.active]="first">
          <div class="row justify-content-center">
            <div class="col-md-4" *ngFor="let event of eventGroup">
              <div class="card shadow-sm event-card">
                <img class="card-img-top" [src]="event.image" [alt]="'Imagen del Evento ' + event.title">
                <div class="rounded-pill text-bg-secondary m-2" style="padding: 2,5px 0px; width: 100px; text-align: center; opacity: 50%;"><strong class="fw-light">{{event.categoria_name}}</strong></div>
                <div class="card-body text-center d-flex flex-column">
                  <h5 class="card-title">{{ event.title }}</h5>
                  <p class="card-text">{{ event.date | date: 'EEEE, d \'de\' MMMM \'de\' yyyy' }}</p>
                  <a class="btn btn-primary btn-lg mt-auto" href="/event/{{event.id}}" role="button">
                    Comprar Entradas
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Controles del carrusel -->
        <button class="carousel-control-prev custom-control" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next custom-control" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
  </div>
</div>
</section>